* {
    transition: 0.33s ease all;
    box-sizing: border-box;
  }
  body{
  overflow-x: hidden;
  }
 
  span {
    display: inline-block;
    width: 50px;
    margin-left: 20px;
    height: 5px;
    /* background-color: #2D58C4; */
    /* margin-bottom: 5px; */
  }
  
  img {
    width: 100%;
    
  }
  
  h1 {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 20px 20px 15px;
  }
  
  p {
    font-weight: 400;
    line-height: 24px;
    margin: 20px 20px 20px 15px;
  }
  
  a {
    text-decoration: none;
    /* text-transform: uppercase; */
    /* color: #2D58C4; */
    font-weight: bold;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 5px;
    /* left: -5px; */
  }
  
  /* a:hover {
    color: #2D58C4;
  } */
  
  a::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100%;
    height: 40%;
    pointer-events: none;
    background: #B7CCFF;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.33s;
  }
  
  /* a:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
  } */
  




  
  /* div.site {
    background-color: #f2f2f2;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */



  @media (min-device-height: 667px) 
  and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) 
    {
      div.site {
        background-color: #f2f2f2;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
      }
      
    }    


    @media (device-height: 568px) 
    and (device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    {

      div.site {
        background-color: #f2f2f2;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
      }
      
    }    



    @media screen and (min-device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) 

      {
        div.site {
          background-color: #f2f2f2;
          height: 120vh;
          display: flex;
          align-items: center;
          justify-content: center;
          /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
        }
        
      }    




      @media screen
      and (max-device-width: 640px) 
        {
          div.site {
            background-color: #f2f2f2;
            height: 110vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
          }
          
        }    


        @media screen and (min-device-width: 768px) 
        and (max-device-width: 1024px) {


          div.site {
            background-color: #f2f2f2;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
          }
          
        }    



        @media screen and (min-width: 1024px) {

          div.site {
            background-color: #f2f2f2;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
          }
          
        }    
        @media screen and (min-width: 1080px) {


          div.site {
            background-color: #f2f2f2;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
          }
          
        }    
        @media screen and (min-width: 1920px) {
          div.site {
            background-color: #f2f2f2;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-image: linear-gradient(210deg, #FB8E2A, #FDC154); */
          }
          
        }    

















  div.containercon {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  }
 
  div.img1 {
    height: 300px;
    width: 1600px;
    background: url("https://vincivilworld.com/wp-content/uploads/2021/06/untitled-design-27.jpg?w=1024&h=576");
    background-position: center;
    background-size: cover;
  }
  div.img2 {
    height: 300px;
    width: 1600px;
    background: url("https://5.imimg.com/data5/SELLER/Default/2022/1/TX/NC/XI/121812649/energy-environment-audit-consultancy-500x500.jpg");
    background-position: center;
    background-size: cover;
  }


  div.img3 {
    height: 300px;
    width: 2000px;
    background: url("https://images.pexels.com/photos/2815150/pexels-photo-2815150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
  }


  div.img4 {
    height: 300px;
    width: 100%;
    background: url("../img/Mining Plan.jfif");
    background-position: center;
    background-size: cover;
  }


  div.img5 {
    height: 300px;
    width: 100%;
    background: url("https://www.agiusa.com/sites/default/files/field/image/Behind%20The%20Scenes%20Of%20Groundwater%20Exploration%20With%20Electrical%20Resistivity.jpg");
    background-position: center;
    background-size: cover;
  }

  div.img6 {
    height: 300px;
    width: 2900px;
    background: url("https://trcaca.s3.ca-central-1.amazonaws.com/app/uploads/2021/08/23150938/frm_clairevilledam3_aug2021.jpg");
    background-position: center;
    background-size: cover;
  }


  div.img7 {
    height: 300px;
    width: 100%;
    background: url("https://5.imimg.com/data5/SELLER/Default/2022/8/BU/AR/VJ/26625519/5-hp-agriculture-pump-500x500.jpg");
    background-position: center;
    background-size: cover;
  }


  div.img8 {
    height: 300px;
    width: 100%;
    background: url("../img/Preparation of hydro-gerological report to obtain NOC from ground water.jpg");
    background-position: center;
    background-size: cover;
  }
  div.img9 {
    height: 300px;
    width: 100%;
    background: url("../img/Soil profiling.jpg");
    background-position: center;
    background-size: cover;
  }



  div.img10 {
    height: 300px;
    width: 100%;
    background: url("../img/Agronomy plan or irrigation management plan.jpg");
    background-position: center;
    background-size: cover;
  }
  div.img11 {
    height: 300px;
    width: 100%;
    background: url("../img/storm water design _ management.jpg");
    background-position: center;
    background-size: cover;
  }
  div.img12 {
    height: 300px;
    width: 100%;
    background: url("https://www.asce.org/-/media/asce-images-and-files/communities/institutes-and-technical-groups/environmental-and-water-resources/images/design-of-scms.jpeg");
    background-position: center;
    background-size: cover;
  }
  div.img13 {
    height: 300px;
    width: 100%;
    background: url("https://hisaar.org/hf/wp-content/uploads/2017/03/Rainwater-Harvesting-Structures-1-400x258.jpg");
    background-position: center;
    background-size: cover;
  }

  div.img14 {
    height: 300px;
    width: 100%;
    background: url("https://www.navinaquatech.com/images/sewage.jpg");
    background-position: center;
    background-size: cover;
  }

  div.img15{
    height: 300px;
    width: 100%;
    background: url("https://media.licdn.com/dms/image/D5612AQHkRpb1frm67g/article-cover_image-shrink_600_2000/0/1707111311659?e=2147483647&v=beta&t=dMvysfr2kDHWQSDK_XizmruUsfyxfElHrHcMmYs8vUg");
    background-position: center;
    background-size: cover;
  }
















































  
  div.text-containercon {
    margin: 60px 45px 55px;
  }
  
  @media screen and (min-width: 768px) {
    div.containercon {
      flex-direction: row;
      width: 100%;
    }
  
    div.img {
      height: 420px;
      min-width: 360px;
    }
  
    div.text-containercon {
      margin: 0 60px;
      max-width: 660px;
    }
  }
  @media screen and (min-width: 1024px) {
    div.containercon {
      max-width: 1200px;
    }
  }