




@charset "UTF-8";
:root {
  /*   color variables */
  --clr-primary: #304ffe;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;
  /*   border radius */
  --radius: 0.2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;

}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cardm{
  margin: 60px 90px;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  /* columns: 2; */
  gap: 50px;
  
  /* grid-template-columns: repeat(auto-fit, minmax(16rem, 0.3fr));
  grid-gap: 6rem;
  justify-content: center; */
}


@media (min-device-height: 667px) 
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3) 
      {
      .cardm{

      margin: 55px 50px;
      display: flex;
      flex-wrap: wrap;
      /* columns: 2; */
      gap: 50px;
        width: 600px;
    }
    .card{
      width: 250px;
    }

  }

  @media (device-height: 568px) 
  and (device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  {
    .cardm{

      margin: 55px 50px;
    display: flex;
    flex-wrap: wrap;
    /* columns: 2; */
    gap: 50px;
      width: 600px;
  } .card{
    width: 250px;
  }

}

@media screen and (min-device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2) 

      {
        .cardm{
    
          margin: 55px 50px;
          display: flex;
        flex-wrap: wrap;
        /* columns: 2; */
        gap: 50px;
          width: 600px;
      }
      .card{
        width: 250px;
      }
      }


      @media screen
      and (max-device-width: 640px) {
        .cardm{
    
          margin: 55px 50px;
          display: flex;
          flex-wrap: wrap;
          /* columns: 2; */
          gap: 50px;
            width: 600px;
        }
        .card{
          width: 250px;
        }
      }

      @media screen and (max-device-width: 480px) 
      and (orientation: portrait) {
        .cardm{
    
          margin: 55px 50px;
          display: flex;
          flex-wrap: wrap;
          /* columns: 2; */
          gap: 50px;
            width: 600px;
        }
        .card{
          width: 250px;
        }
      }

      @media screen and (min-device-width: 768px) 
      and (max-device-width: 1024px) {
        .cardm{
    
          margin: 60px 90px;
          display: flex;
          flex-wrap: wrap;
          /* columns: 2; */
          gap: 50px;
            width: 1200px;
        }
        .card{
          width: 300px;
        }

      }



      @media screen and (min-width: 1024px) {
        .cardm{
    
          margin: 60px 90px;
          display: flex;
          flex-wrap: wrap;
          /* columns: 2; */
          gap: 50px;
            width: 1200px;
        }
        .card{
          width: 500px;
        }
      }



      @media screen and (min-width: 1080px) {
        .cardm{
    
          margin: 60px 90px;
          display: flex;
          flex-wrap: wrap;
          /* columns: 2; */
          gap: 50px;
            width: 1200px;
        }
        .card{
          width: 500px;
        }
      }


      @media screen and (min-width: 1920px) {
        .cardm{
    
          margin: 60px 90px;
          display: flex;
          flex-wrap: wrap;
          /* columns: 2; */
          gap: 50px;
            width: 1200px;
        }
        .card{
          width: 500px;
        }
      }











.card {
  overflow: hidden;
  width: 500px;
  border: 1px solid var(--clr-gray200);
  box-shadow: 4px 4px var(--clr-gray200);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
}
.card__image {
  height: 18rem;
  width: 100%;
  object-fit: cover;
}
.card__title {
  padding: 1rem;
  font-size: 19px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;

}
.card__description {
  padding: 0 1rem;
  font-family: "Noto Sans", sans-serif;

}
.card__link {
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: var(--clr-primary);
}
.card__link::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: 0.5rem;
}
.card:hover {
  border: 1px solid var(--clr-primary);
  box-shadow: 8px 8px var(--clr-primary);
}
.card:hover .card__link::after {
  animation: arrow 1s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 1.5rem;
  }
}